body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}

form {
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px;
  border-radius: 10px;
  background: white;
}
h2{
  background-color: white;
}
form input {
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  border-color: none;
  border-width: 1px;
  width: 300px;
}
label {
  display: block;
  font-weight: bold;
}
button {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border: none;
}
button:hover {
  text-decoration: underline;
}
button:active {
  color: beige;
}
ul li{
  list-style-type: none;
}
