body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}

form {
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px;
  border-radius: 10px;
  background: white;
}
h2{
  background-color: white;
}
form input {
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  border-color: none;
  border-width: 1px;
  width: 300px;
}
label {
  display: block;
  font-weight: bold;
}
button {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border: none;
}
button:hover {
  text-decoration: underline;
}
button:active {
  color: beige;
}
ul{
  display: flex;
}
ul li{
  list-style-type: none;
  display: flex;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination {
  display: flex;
  flex-direction: row;  /* Arrange items horizontally */
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  gap: 8px;
}

.pagination li {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #2185d0;  /* Blue border */
  border-radius: 4px;
  color: #2185d0;
  background: white;
  text-align: center;
}

.pagination li a {
  text-decoration: none; /* Remove any default link styling */
  color: inherit;
}

.pagination .active {
  background-color: #2185d0;  /* Blue background for active page */
  color: white;
  font-weight: bold;
}
