.nav{
    background-color: white;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
   /* max-width: 1205x; */
   /* margin-left: auto; */
   /* margin-right: auto; */
   border-radius: 10px;
}
.list{
    list-style-type:none;
    
  
    text-align: center;
}
.list li{
    display: inline;
    margin-right: 20px;
    font-size: 20px;
  
  
}
.list li a{
    text-decoration: none;
   
    
}
.list li a:hover{
    text-decoration: underline;
    color: black;
}